@charset "UTF-8";

/*
    O "id" no html é = # no css.
    O "class" no html é = . no css.
*/

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: lightcoral;
}

h1#principal {
    background-color: lightcoral;
    color: blue;
    text-align: center;  
}

h1.aprender {
    color: black;
    text-align: center;
}

h2{
    color: lightsalmon;
}

h2.basico{
    text-align: center;
    font-style: italic;
}

h2.intermediario{
    text-align: center;
    font-style: italic;
}

h2.avancado {
    text-align: center;
    font-style: italic;   
}

.destaque {
    background-color: red;
    font-weight: bold;
}